# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\devops\LAB-JENKINS\Jenkins-nginx-pipeline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
